:root {
  --top-level: 999999999; // 9
  --level-2: 99999999; // 8

  --nav-sm-width: 30rem;
  --nav-offset: -35rem;
  --sidebar-width: 30rem;

  --border-radius-box: 1rem;
  --border-radius-card: 2rem;

  --transition-effect: all .25s linear;

  --title-head: 3rem;
  --title-card: 1.8rem;

  --text-small: 1.3rem;
  --text-normal: 1.5rem;
  --text-medume: 1.7rem;
  --text-large: 2.1rem;
  --text-x-large: 2.6rem;

}