.cardBlog {

  &--body {

  }

  &--title {
    font-size: var(--text-normal);
    font-weight: bold;
  }

  &--footer {
    background-color:transparent!important;
    border: 0!important;
    padding: 0 0!important;
  }

  .btnReadMore {
    outline: none;
    border: 0;
    background-color: crimson;
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
    font-size: var(--text-normal);
    font-weight: bold;
    text-transform: capitalize;
  }

}

