.navigation {
  //background-color: #eee;
  position: fixed;
  width: var(--nav-sm-width);
  top: 0;
  background-color: #f5f5f5;
  z-index: var(--top-level);
  height: 100vh;
  transform: translateX(var(--nav-offset));
  transition: var(--transition-effect);

  &.is__active {
    transform: translateX(0);
    transition: var(--transition-effect);
  }

  .iconClose {
    position: absolute;
    top: 0;
    right: 0;
  }

  @media(min-width: 992px) {
    position: static;
    width: unset;
    height: unset;
    background-color: unset;
    transform: unset;
  }

  &--list {
    display: flex;
    flex-flow: column;
    gap: 2rem;
    list-style-type: none;
    padding: 3rem 0 0 !important;
    margin: 0 !important;

    @media(min-width: 992px) {
      flex-flow: row;
      align-items: center;
      padding: 0 0 0 !important;
    }
  }

  &--item {
    list-style-type: none !important;

    &:first-child {

      .navigation--link {
        //padding-left: 0;
      }
    }
  }

  &--link {
    color: #000;
    height: 2.5rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0 1rem;
    text-transform: capitalize;

    &:hover {
      color: #000;
    }

    @media(min-width: 992px) {
      padding: 0 0;
    }

    &.active {


      &::after {
        @media(min-width: 992px) {
          content: ' ';
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          height: 2px;
          background-color: #000;
        }

      }
    }
  }
}
